* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body{
  height: 100%;
  margin: 0;
  background-color: #2A1F2D;
  color: #59C9A5;
}

::placeholder{
  color: white;
}

hr{
  color: #333333;
  background-color: #333333;
  height: 3px;
  border: none;
}

li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}

input{
  border: 2px solid #333;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #52796F;
  border-radius: 4px;
  font-size: 18px;
  height: 30px;
  width: 100%;
}

.navigBar{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: #3B2C35;
  /* Space between elements */
  gap: 2rem;
  padding: 0rem 1rem;
}

.navigBar ul{
  display: flex;
  list-style: none;
  gap: 1rem;
}

.navigBar a{
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  height: 100%;
}

.navigBar .compLogo{
  font-weight: bold;
  font-size: 40px;
}

.radioLabels label{
  font-size: 18px;
}

.formContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

.formBodiesContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.profitOutputBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: groove;
  border-width: 3px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: 0.5rem;
  background-color: #46343F;
}

.formBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: groove;
  border-width: 3px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 1.25%;
  margin: 0.5rem;
  background-color: #46343F;
  width: calc(15% - 1rem);
}

.formBody h1{
  padding-bottom: 1rem;
}

.inputForm{
  display: flex;
  flex-direction: inherit;
  margin: 0.5em;
  gap: 1rem;
  width: 100%;
}

.inputForm input{
  border: 2px solid #333;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #52796F;
  border-radius: 4px;
  font-size: 18px;
  height: 30px;
  width: 100%;
}

.inputForm textarea{
  font-size: 18px;
  border: 2px solid #333;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #52796F;
}

.inputForm button{
  padding: .25em;
  font-size: 18px;
  border-radius: 8px;
  background-color: #ACC196;
  cursor: pointer;
  color: white;
}

.spacer{
  flex-grow: 1;
}

.radioInput{
  display: flex;
  gap: 1rem;
}

.radioButtons{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.radioButtons input{
  width: 14px;
  height: 14px;
}

.radioLabels{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.templateBodyPage{
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.templateBody{
  display: flex;
  align-items: center;
  border-style: groove;
  border-width: 3px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 2%;
  background-color: #46343F;
}

.spreadsheet{
  padding: 10px;
}

.container{
  display: flex;
}

table{
  border-collapse: collapse;
  width: 100%;
}

th, td{
  border: 1px solid #59C9A5;
  padding: 8px;
  text-align: left;
}

.navigBar a:active{
  background-color: darkgrey;
}

thead{
  background-color: #3B2C35;
  color: #59C9A5;
}

tbody tr:nth-child(even) {
  background-color: #2A1F2D;
}

tbody tr:nth-child(odd) {
  background-color: #46343F;
}

/* Add styles for hovered rows */
tbody tr:hover {
  background-color: #52796F;
}

.navigBar a:hover{
  background-color: grey;
}

input:disabled{
  color: white;
}
